[Unit]
Description=minecraft server 1.16.1
Documentation=https://paper.readthedocs.io/en/latest/
[Service]
WorkingDirectory=/opt/minecraft
Type=simple
Environment=BUCKET_NAME=minecraft-world-backups.serenacodes.com
ExecStart=/opt/minecraft/start.sh
ExecStop=/opt/minecraft/shutdown.sh
TimeoutStopSec=500
Restart=on-failure
User=minecraft
Group=minecraft
[Install]
WantedBy=multi-user.target