[Unit]
Description=minecraft server 1.15.2
Documentation=https://minecraft.gamepedia.com/Tutorials/Setting_up_a_server#Linux_instructions
[Service]
WorkingDirectory=/opt/minecraft
Type=simple
Environment=BUCKET_NAME=tiede-minecraft-world-bucket
ExecStart=/opt/minecraft/minecraft-start.sh
ExecStop=/opt/minecraft/minecraft-shutdown.sh
Restart=on-failure
User=minecraft
Group=minecraft
[Install]
WantedBy=multi-user.target