[Unit]
Description=minecraft server backup
Documentation=https://minecraft.gamepedia.com/Tutorials/Setting_up_a_server#Linux_instructions
[Service]
WorkingDirectory=/opt/minecraft
Type=oneshot
ExecStart=/opt/minecraft/backup.sh
User=root
TimeoutStartSec=500
TimeoutStopSec=500
Group=minecraft
[Install]
WantedBy=multi-user.target